

.tick {
  position: absolute;
  height: 2px;
  width: 15px;
  background: black;
}

.tickValue {
  position: absolute;
  font-size: 15px;
  color: black;
}

.bar {
  position: absolute;
  bottom: 1;
  width: 1.5px;
  background: black;

}

.bar-top {
  position: absolute;
  height: 2px;
  background: black;
}

.values {
  position: absolute;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.barColor {
  position: absolute;
  opacity: 1;
  border: 1.5px solid;
  border-color: dimgray;
}


.label {
  position: absolute;

}

