
.title {
  position: relative;
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.chart_body {
  position: relative;

}

.h_line {
  position: relative;
  left: 40;

  height: 1.5px;
  width: 1px;
  background: black;

}

.v_line {
  position: relative;
  left: 40;
  height: 1px;
  width: 1.5px;
  background: black;
}

.tick {
  position: absolute;
  height: 2px;
  width: 15px;
  background: black;
}

.tickValue {
  position: absolute;
  font-size: 15px;
  color: black;
}

.bar {
  position: absolute;
  bottom: 0;
  width: 1.5px;
  background: black;

}

.bar-top {
  position: absolute;
  height: 2px;
  background: black;
}

.values {
  position: absolute;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.barColor {
  position: absolute;
  opacity: 1;
  border: 1.5px solid;
  border-color: dimgray;
}


.label {
  position: absolute;

}

